/MyAssign/nbproject/private/
/MyAssign/build/
/MyAssign/dist/
/Test/nbproject/private/
/Test/build/
/MyAssignment/nbproject/private/
/MyAssignment/build/
/vz/nbproject/private/
/vz/build/
/Exercise2/nbproject/private/
/Exercise2/build/
/MyAssignPRJ/nbproject/private/
